<div class="container mt-5">
  <h1>All my lists</h1>

  <ul id="lists">
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list.id) %>
      </li>
    <% end %>
  </ul>

  <hr>

  <%= link_to new_list_path do %>
    <i class="fa-solid fa-plus"></i> Add a new list
  <% end %>
</div>
